.titulos {
    background-color: #C4C4C4;
    color:rgba(0, 86, 119, 1);
    line-height: 16.94px;
    letter-spacing: 10px;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    text-align: center;
    font-size: 35px;
    line-height: 30px;
}

.lista li{
    list-style-type: none;
}

pre{
    margin:0px;
    font-family: 'Times New Roman', Times, serif;
}

#contenedorImagen{
    background-color: #E6E6E6;
}

#contenedorImagen img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

img {
    display: inline-block;
    margin: 8px;
    margin-left: 11px;
}
footer{
    background-color: #005677;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 0;
    bottom: 0;
    width:100%
}

footer span{
    color: white;
    text-align: center;

}